<div id="contact-details" [formGroup]="regForm">
  <div class="form-group col-md-4" class="mat-form-field">
    <mat-form-field>
      <mat-select placeholder="Tipo de Peca" name="tipo" formControlName="tipo">
        <mat-option [value]="tipo.value" *ngFor="let tipo of tipos">
          {{ tipo.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error>Necessário informar Tipo de Peça.</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group col-md-4" class="mat-form-field">
    <mat-form-field>
      <mat-select
        placeholder="Estado da Peca"
        name="estado"
        formControlName="estado"
      >
        <mat-option [value]="estado.value" *ngFor="let estado of estados">
          {{ estado.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error>Necessário informar Estado da Peça.</mat-error>
    </mat-form-field>
  </div>
  <div class="form-group col-md-4" class="mat-form-field">
    <mat-form-field>
      <mat-label>Descreva sua peça</mat-label>
      <textarea matInput name="descricao" formArrayName="descricao"></textarea>
    </mat-form-field>
  </div>
  <div class="form-group col-md-4" class="mat-form-field">
    <button
      mat-icon-button
      (click)="addDesc()"
      color="primary"
      matTooltip="Adicionar Nova Peça"
      matTooltipPosition="center"
      [disabled]="isVer"
    >
      <mat-icon>add_circle</mat-icon>
    </button>
    <div
      class="form-group col-md-4"
      class="mat-form-field"
      formArrayName="descricao"
      *ngFor="let item of descricao.controls; let i = index"
    >
      <mat-form-field>
        <mat-label>Descreva sua Próxima Peça.</mat-label>
        <textarea matInput [formControlName]="i"></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
<br />
<button type="button" class="main-btn v-middle" matStepperPrevious>
  Voltar
</button>
&nbsp;
<button type="button" class="main-btn v-middle" matStepperNext>Próximo</button>
