<div class="container">
  <div class="tabbable">
    <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#tab1" data-toggle="tab">
          ORÇAMENTO ONLINE!
        </a>
        <mat-icon style="padding-left:5px;" class="v-middle">archive</mat-icon>
      </li>

      <li>
        <a href="#tab2" data-toggle="tab">COMO FUNCIONA?</a>
        <mat-icon style="padding-left:5px;" class="v-middle"
          >brightness_high</mat-icon
        >
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <app-cotacao></app-cotacao>
      </div>
      <div class="tab-pane" id="tab2"></div>
    </div>
  </div>
</div>
