/*footer {
  background: blue;
  padding: 20px 0px 20px 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

*/

footer {
  margin-top: 150px;
}

#contact-area {
  text-align: center;
}

.contact-box {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #71dbee;
}

.contact-box i {
  color: #444;
  border: solid 1px #444;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  margin-bottom: 20px;
}
.contact-box p {
  font-size: 16px;
}
.contact-title {
  font-weight: bold;
  color: #3ec1d5;
}

#msg-box p {
  font-size: 22px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
  margin-bottom: 15px;
  border-radius: 5px;
}

#contact-form .main-btn {
  width: 120px;
  height: 50px;
  background-color: #65daf9;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 25px; /* metade da altura */
  border: 3px solid transparent;
  transition: 0.5s;
}

/*copy */

#contact-form .main-btn:hover {
  color: #3ec1d5;
}

#copy-area {
  background-color: #f1f1f1;
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}
#copy-area .container p {
  margin-bottom: 0;
}

#copy-area .container a {
  font-weight: bold;
  color: #444;
  cursor: pointer;
}

#copy-area .container a:hover {
  text-decoration: none;
  color: #3ec1d5;
}
