.main-btn {
  background-color: #65daf9;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px; /* metade da altura */
  border: 3px solid transparent;
  transition: 0.5s;
  margin-top: 20px;
  margin-left: 1%;
}
.main-btn:hover {
  color: #3ec1d5;
}
